#img{
    height: 145px;
    width: 145px; 
}
body{
    text-align: center;
}
#movies{
    text-align: left;
}
#ss{
    text-align: left;
}
#contact{
    text-align: left;
}
#ee{
    width: 40%;
    height: 40%;
}