#img{
    height: 145px;
    width: 145px;                                                                                                                                             
grid{
       text-align: center; 
    }